/* CSS COMPONENTS */

:root {
  --appColor--background: rgb(226, 234, 255);
  --appColor--white: whitesmoke;
  --appColor--icon: rgb(58, 133, 225);
  --appColor--alert: rgb(132, 148, 213);
  --appColor--mainBackground: rgb(255, 255, 255);
  --appColor--contactItem: rgba(255, 255, 255, 0.666);

  --chatColor--sent: rgb(90, 94, 208);
  --chatColor--retrieve: rgb(80, 240, 216);
}
/* user profile */
.userProfile {
  display: flex;
  align-items: center;
  height: 100%;
}
.item__container {
  height: 100%;
  display: flex;
  align-items: center;
}

.debug {
  background-color: red;
}

/* icons */
.aside__alert i {
  color: var(--appColor--alert);
}
i {
  color: var(--appColor--icon);
}
.component--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  aspect-ratio: 1/1;
  border-radius: 50%;
  height: 100%;
}
.form-control {
  height: 100%;
}

/* chat omponents */
.chatContainer--sent {
  width: 100%;
  display: flex;
  justify-content: end;
}
.chatContainer--retrieve {
  width: 100%;
  display: flex;
  justify-content: start;
}
.chat--sent {
  max-width: 60%;
  margin: 1em;

  word-wrap: break-word;

  display: block;
  float: right;
  border-radius: 1em;
  border-bottom-right-radius: 0;
  padding: 0.5em 1em;
  background-color: var(--chatColor--sent);
  color: white;
}
.chat--retrieve {
  max-width: 60%;
  margin: 1em;

  word-wrap: break-word;

  display: block;
  float: right;
  border-radius: 1em;
  padding: 0.5em 1em;
  background-color: var(--chatColor--retrieve);
}
