/* CSS COMPONENTS */

:root {
  --appColor--background: rgb(234, 234, 234);
  --appColor--white: whitesmoke;
  --appColor--icon: rgb(167, 167, 167);
  --appColor--alert: rgb(132, 208, 213);
}

.userProfile {
  display: flex;
  align-items: center;
  height: 100%;
}
.item__container {
  height: 100%;
  display: flex;
  align-items: center;
}

/* icons */
.aside__alert i {
  color: var(--appColor--alert);
}
i {
  color: var(--appColor--icon);
}
.component--circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  aspect-ratio: 1/1;
  border-radius: 50%;
  height: 100%;
}
.form-control {
  height: 100%;
}
/* .aside__searchBar button {
  padding: 0em 1em;
  border: 0;
  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
} */
/* .aside__searchBar input {
  border: none;
  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
} */
