/* CSS LAYOUT */

body {
  height: 100vh;
  background: linear-gradient(to top, #9791d3 70%, #645393 30%);
}
* {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

#app {
  border-radius: 1em;
  position: relative;
  display: flex;
  height: 50vh;
}
.aside {
}
.main {
  display: flex;
  flex-direction: column;
}
.aside__header {
  border-top-left-radius: 1em;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--appColor--background);
}
.aside__alert {
  height: 3rem;
  background-color: var(--appColor--alert);
  display: flex;
  align-items: center;
}
.aside__searchBar {
  height: 3rem;
  background-color: var(--appColor--background);
  display: flex;
  align-items: center;
}

.aside__userList {
  border-bottom-left-radius: 1em;
  height: calc(70vh - 9rem);
  background-color: var(--appColor--background);
  overflow-y: auto;
}
.list--item {
  height: 3rem;
  width: 100%;
  margin: 0.3em 0em;
  padding: 0.3em;
  background-color: var(--appColor--contactItem);
}

/* main */
.main__header {
  border-top-right-radius: 1em;
  height: 3rem;
  border-left: 1px solid rgb(206, 206, 206);
  background-color: var(--appColor--background);
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.main__chatSection {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--appColor--mainBackground);
  overflow-y: auto;
  height: calc(70vh - 6rem);
}
.main__footer {
  border-bottom-right-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  background-color: var(--appColor--background);
}
